.header {
    width : 100%;
    height: 150px;
    background : url(bg.jpg)
}

.header h1 {
    color : white;
    padding-top : 30px;
}

.nav {
    margin-top: auto;
    margin-bottom: auto;
    list-style: none;
    display: block;
    background-color : rgb(121, 118, 118);
    width : 100%;
    height: 33px;
}

.nav li {
    float : left;
    margin-right: 3px;
    margin-top:6px;
    margin-bottom: auto;
}